.grey_screen
  h1 KellyBaking
  .nav
    .dessert.all.border_bottom All
    .dessert.cake Cake
    .dessert.cookie Cookie
    i.fa-solid.fa-cart-shopping.barcart
      .circle
        .qty 0

  ul.list
    //- li
    //-   img(src="https://imageproxy.pimg.tw/resize?url=https%3A%2F%2Fscontent-fra5-2.cdninstagram.com%2Fv%2Ft51.2885-15%2F275733061_530158505493365_425162070979998083_n.jpg%3Fstp%3Ddst-jpg_e35_s640x640_sh0.08%26_nc_ht%3Dscontent-fra5-2.cdninstagram.com%26_nc_cat%3D105%26_nc_ohc%3DQ6ULpCAZvgAAX_zLqLM%26edm%3DAP_V10EBAAAA%26ccb%3D7-5%26ig_cache_key%3DMjc5MzczMzI5NjIxNjYzMTcxMw%253D%253D.2-ccb7-5%26oh%3D00_AfDGw_OF0q46mfjyf1T-wCF3r8R1VisWZOMgHh6jFWQccQ%26oe%3D6380D4BE%26_nc_sid%3D4f375e")
    //-   .name 瑪德蓮
    //-   .price {{price}} ({{unit}})
    //-   .buy
    //-     .minus -
    //-     .num 1
    //-     .plus +
    //-     i.fa-solid.fa-cart-shopping
  
.cart
  .title Shopping Cart
  span.x X
  #cartlist
    //- .shopping
    //-   .cartname 瑪德蓮
    //-   .cartprice $80
    //-   .calc
    //-     .mi -
    //-     .nu 12
    //-     .pl +
    //-   .delete x
  #total
    //- .totallist
    //-   .total Total
    //-   .totalprice $80
  .cartbuy BUY
  .notice Haven't added dessert yet